<div>
  <%= form_for [@laundromat, @dryer] do |f| %>
    <div class="row number">
      <%= f.label :number_available, 'Number of Dryers Currently Available' %>
      <%= f.select :number_available, options_for_select([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]),:name=>"number_available",:id=>"number_available" %>
    </div>
    <br /><br /><br />
    <div class="row">
      <%= f.submit @submit, :class => 'button' %>
    </div>
  <% end %>
</div>
