<section id="content" class="wrapper">
  <div class="row">
  <h3 class="title">Add New Dryer Data</h3>
</div>

<div class="row">
  <%= render "form" %>
</div>
<%= link_to 'Back to Laundromat', laundromat_path(@laundromat), class: "button", role: "button" %>
<%= link_to 'Add Washer Data', new_laundromat_washer_path(@laundromat), class: "button", role: "button" %>
</section>
