<!-- Content -->
  <section id="content" class="wrapper">
    <div class="row">
    <h3 class="title">Add New Laundromat</h3>
  </div>

  <div class="row">
    <%= render "form" %>
  </div>
  <%= link_to 'All Laundromats', laundromats_path(:anchor => "main"), class: "button", role: "button" %>

  </section>
