/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require ie8
 *= require ie9
 *= require main
 */

 body {
   background-image: url("laundry.jpg") !important;
   background-size: cover;
   background-attachment: fixed;
   background-repeat: no-repeat;
 }

 p {
   color: #fff !important;
 }

 html, body {
   height: 100%;
   margin: 0;
   padding: 0;
 }
 #map {
   height: 32em;
   width: 40em;
   border-radius: 20px;
 }
 .controls {
   margin-top: 10px;
   border: 1px solid transparent;
   border-radius: 2px 0 0 2px;
   box-sizing: border-box;
   -moz-box-sizing: border-box;
   height: 32px;
   outline: none;
   box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
 }

 #pac-input {
   background-color: #fff;
   font-family: Source Sans Pro;
   font-size: 15px;
   font-weight: 300;
   margin-left: 12px;
   padding: 0 11px 0 13px;
   text-overflow: ellipsis;
   width: 300px;
 }

 #pac-input:focus {
   border-color: #4d90fe;
 }

 .pac-container {
   font-family: Source Sans Pro;
 }

 #type-selector {
   color: #fff;
   background-color: #4d90fe;
   padding: 5px 11px 0px 11px;
 }

 #type-selector label {
   font-family: Source Sans Pro;
   font-size: 13px;
   font-weight: 300;
 }

 .icon {
   width: 3.5em;
 }

#main {
  padding: 10em;
}

.svg {
  fill: #FFFFFF !important;
  height: 10em;
  margin-top: 2em;
}

.fa-bar-chart {
  font-size: 10em;
  color: #fff !important;
}

.fa-plus {
  font-size: 10em;
}

.laundromats {
  background-color: #1D242A;
  padding: 2em;
}

.delete {
  font-size: 1.5em;
}

.edit {
  font-size: 1.5em;
}

.delete:hover {
  color: rgba(144, 144, 144, 0.25);
}

.edit:hover {
  color: rgba(144, 144, 144, 0.25);
}

.map {
  color: black;
}

strong {
  color: black !important;
}
